# IvisPro StellarMap Data Wrangling

In [45]:
import pandas as pd
import csv

In [46]:
hyg_df = pd.read_csv("../data/hygdata_v3.csv")

In [47]:
hyg_df

,id,hip,hd,hr,gl,bf,proper,ra,dec,dist,...,bayer,flam,con,comp,comp_primary,base,lum,var,var_min,var_max
0,0,NaN,NaN,NaN,NaN,NaN,Sol,0.000000,0.000000,0.0000,...,NaN,NaN,NaN,1,0,NaN,1.000000,NaN,NaN,NaN
1,1,1.0,224700.0,NaN,NaN,NaN,NaN,0.000060,1.089009,219.7802,...,NaN,NaN,Psc,1,1,NaN,9.638290,NaN,NaN,NaN
2,2,2.0,224690.0,NaN,NaN,NaN,NaN,0.000283,-19.498840,47.9616,...,NaN,NaN,Cet,1,2,NaN,0.392283,NaN,NaN,NaN
3,3,3.0,224699.0,NaN,NaN,NaN,NaN,0.000335,38.859279,442.4779,...,NaN,NaN,And,1,3,NaN,386.901132,NaN,NaN,NaN
4,4,4.0,224707.0,NaN,NaN,NaN,NaN,0.000569,-51.893546,134.2282,...,NaN,NaN,Phe,1,4,NaN,9.366989,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119609,119611,NaN,NaN,NaN,NN 4381,NaN,NaN,23.963895,38.629391,16.9492,...,NaN,NaN,NaN,1,119611,NaN,0.002200,NaN,NaN,NaN
119610,119612,NaN,NaN,NaN,NN 4385,NaN,NaN,23.996567,47.762093,16.7224,...,NaN,NaN,NaN,1,119612,NaN,0.000088,NaN,NaN,NaN
119611,119613,NaN,NaN,NaN,NN 4386,NaN,NaN,23.996218,-44.067905,18.5185,...,NaN,NaN,NaN,1,119613,NaN,0.002224,NaN,NaN,NaN
119612,119614,NaN,NaN,NaN,NN 4387,NaN,NaN,23.997386,-34.111986,12.8205,...,NaN,NaN,NaN,1,119614,NaN,0.001086,NaN,NaN,NaN
119613,119615,NaN,NaN,NaN,Gl 915,NaN,NaN,0.036059,-43.165974,7.8003,...,NaN,NaN,NaN,1,119615,NaN,0.000319,NaN,NaN,NaN

In [48]:
hyg_df.drop(hyg_df.columns.difference(
    ['id', 'hr', 'gl', 'bf', 'proper', 'dist', 'mag', 'absmag', 'spect', 'ci', 'x', 'y', 'z', 'con', 'lum']), 1, inplace = True)

In [49]:
hyg_df.columns.tolist()

['id',
 'hr',
 'gl',
 'bf',
 'proper',
 'dist',
 'mag',
 'absmag',
 'spect',
 'ci',
 'x',
 'y',
 'z',
 'con',
 'lum']

In [50]:
dict = {
    'id':   'index',
    'hr':   'idHarvard',
    'gl':     'idGliese',
    'bf':       'idYaleBright',
    'proper': 'name',
    'dist': 'distance',
    'mag': 'magnitude',
    'absmag':  'absoluteMagnitude',
    'spect': 'spectralType',
    'ci': 'colorIndex',
    'x':   'xCoord',
    'y':   'yCoord',
    'z':   'zCoord',
    'con': 'constellation',
    'lum': 'luminosity'
}

hyg_df.columns = hyg_df.columns.to_series().map(dict)
hyg_df.columns.tolist()

['index',
 'idHarvard',
 'idGliese',
 'idYaleBright',
 'name',
 'distance',
 'magnitude',
 'absoluteMagnitude',
 'spectralType',
 'colorIndex',
 'xCoord',
 'yCoord',
 'zCoord',
 'constellation',
 'luminosity']